---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"74c066112b09cd39fb920ba31d77fbd6"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"HU1Me40RTGo","slug":"HU1Me40RTGo","created_at":"2023-05-10T23:16:12Z","updated_at":"2023-05-16T09:36:40Z","promoted_at":"2023-05-12T15:10:18Z","width":3456,"height":5184,"color":"#2673c0","blur_hash":"LqG0U|%gXTNG0jR*n$n$xvMxV@xu","description":null,"alt_description":"a
        man and a woman standing next to each other","urls":{"raw":"https://images.unsplash.com/photo-1683760566647-c7a51d021aa4?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDd8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1683760566647-c7a51d021aa4?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDd8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1683760566647-c7a51d021aa4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1683760566647-c7a51d021aa4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1683760566647-c7a51d021aa4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1683760566647-c7a51d021aa4"},"links":{"self":"https://api.unsplash.com/photos/HU1Me40RTGo","html":"https://unsplash.com/photos/HU1Me40RTGo","download":"https://unsplash.com/photos/HU1Me40RTGo/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDd8","download_location":"https://api.unsplash.com/photos/HU1Me40RTGo/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDd8"},"likes":17,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"fashion-beauty":{"status":"unevaluated"}},"user":{"id":"bmWWEbRtBME","updated_at":"2023-05-14T12:51:26Z","username":"tony_saiko24","name":"Tony
        Saiko","first_name":"Tony","last_name":"Saiko","twitter_username":null,"portfolio_url":"https://saikoproductions.mypixieset.com/","bio":"IG:
        Tony_saiko","location":"Long Beach,CA","links":{"self":"https://api.unsplash.com/users/tony_saiko24","html":"https://unsplash.com/@tony_saiko24","photos":"https://api.unsplash.com/users/tony_saiko24/photos","likes":"https://api.unsplash.com/users/tony_saiko24/likes","portfolio":"https://api.unsplash.com/users/tony_saiko24/portfolio","following":"https://api.unsplash.com/users/tony_saiko24/following","followers":"https://api.unsplash.com/users/tony_saiko24/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1679800751005-3b7a21c4c11c?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1679800751005-3b7a21c4c11c?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1679800751005-3b7a21c4c11c?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"tony_saiko
        ","total_collections":0,"total_likes":5,"total_photos":43,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"tony_saiko
        ","portfolio_url":"https://saikoproductions.mypixieset.com/","twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"
        EOS REBEL T4i","name":"Canon, EOS REBEL T4i","exposure_time":"1/640","aperture":"4.5","focal_length":"36.0","iso":100},"location":{"name":"Korean
        Friendship Bell and Belfry of Friendship, San Pedro, United States","city":"San
        Pedro","country":"United States","position":{"latitude":33.7096789865806,"longitude":-118.2938202470541}},"views":185820,"downloads":1725}]'
  recorded_at: Tue, 16 May 2023 23:25:07 GMT
recorded_with: VCR 6.1.0
