---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"e1fcb67cf5f34c2cd42af791c33cb242"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"8xiFXmqGG3k","slug":"8xiFXmqGG3k","created_at":"2023-04-29T07:08:15Z","updated_at":"2023-05-24T03:33:29Z","promoted_at":"2023-04-29T07:22:07Z","width":6048,"height":4024,"color":"#f3f3f3","blur_hash":"LqPZ6_M_ROs:~qs.WBWBS*kCoMof","description":null,"alt_description":"a
        branch of a tree with white flowers","urls":{"raw":"https://images.unsplash.com/photo-1682752013336-7446ed2d507a?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwMzF8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1682752013336-7446ed2d507a?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwMzF8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1682752013336-7446ed2d507a?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwMzF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1682752013336-7446ed2d507a?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwMzF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1682752013336-7446ed2d507a?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwMzF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1682752013336-7446ed2d507a"},"links":{"self":"https://api.unsplash.com/photos/8xiFXmqGG3k","html":"https://unsplash.com/photos/8xiFXmqGG3k","download":"https://unsplash.com/photos/8xiFXmqGG3k/download?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwMzF8","download_location":"https://api.unsplash.com/photos/8xiFXmqGG3k/download?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwMzF8"},"likes":53,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"LfkDn6iQykc","updated_at":"2023-05-25T08:31:05Z","username":"kristapsungurs","name":"Kristaps
        Ungurs","first_name":"Kristaps","last_name":"Ungurs","twitter_username":null,"portfolio_url":"https://www.instagram.com/kristapsungurs/","bio":null,"location":"Riga,Latvia","links":{"self":"https://api.unsplash.com/users/kristapsungurs","html":"https://unsplash.com/@kristapsungurs","photos":"https://api.unsplash.com/users/kristapsungurs/photos","likes":"https://api.unsplash.com/users/kristapsungurs/likes","portfolio":"https://api.unsplash.com/users/kristapsungurs/portfolio","following":"https://api.unsplash.com/users/kristapsungurs/following","followers":"https://api.unsplash.com/users/kristapsungurs/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1572640061210-c7b0e4c77d42image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1572640061210-c7b0e4c77d42image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1572640061210-c7b0e4c77d42image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"kristapsungurs","total_collections":14,"total_likes":244,"total_photos":3716,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"kristapsungurs","portfolio_url":"https://www.instagram.com/kristapsungurs/","twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON Z 6_2","name":"NIKON CORPORATION, NIKON Z 6_2","exposure_time":"1/320","aperture":"1.8","focal_length":"85.0","iso":100},"location":{"name":"Latvija","city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":358368,"downloads":3551}]'
  recorded_at: Thu, 25 May 2023 19:47:11 GMT
recorded_with: VCR 6.1.0
