---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"15ea351fd88acdff8b0bec8f925ea677"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"Lgh9NVi923A","slug":"Lgh9NVi923A","created_at":"2023-04-19T09:56:58Z","updated_at":"2023-05-16T02:32:41Z","promoted_at":"2023-05-05T12:20:30Z","width":7497,"height":4998,"color":"#c0c0c0","blur_hash":"LRG+8gt7%MoJ~pofM{s:x]WCWCV?","description":null,"alt_description":"a
        man sitting at a piano in front of a wall of records","urls":{"raw":"https://images.unsplash.com/photo-1681898190846-0a133b5b7fe0?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDh8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1681898190846-0a133b5b7fe0?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDh8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1681898190846-0a133b5b7fe0?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1681898190846-0a133b5b7fe0?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1681898190846-0a133b5b7fe0?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1681898190846-0a133b5b7fe0"},"links":{"self":"https://api.unsplash.com/photos/Lgh9NVi923A","html":"https://unsplash.com/photos/Lgh9NVi923A","download":"https://unsplash.com/photos/Lgh9NVi923A/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDh8","download_location":"https://api.unsplash.com/photos/Lgh9NVi923A/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzk1MDh8"},"likes":13,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"people":{"status":"approved","approved_on":"2023-05-04T11:06:38Z"}},"user":{"id":"ppRRI3cOt7M","updated_at":"2023-05-16T18:03:07Z","username":"ffstop","name":"Fotis
        Fotopoulos","first_name":"Fotis","last_name":"Fotopoulos","twitter_username":null,"portfolio_url":"http://paperize.co","bio":null,"location":"Greece","links":{"self":"https://api.unsplash.com/users/ffstop","html":"https://unsplash.com/@ffstop","photos":"https://api.unsplash.com/users/ffstop/photos","likes":"https://api.unsplash.com/users/ffstop/likes","portfolio":"https://api.unsplash.com/users/ffstop/portfolio","following":"https://api.unsplash.com/users/ffstop/following","followers":"https://api.unsplash.com/users/ffstop/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1673530457434-df041f083016image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1673530457434-df041f083016image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1673530457434-df041f083016image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"ffstop18","total_collections":1,"total_likes":515,"total_photos":166,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"ffstop18","portfolio_url":"http://paperize.co","twitter_username":null,"paypal_email":null}},"exif":{"make":"FUJIFILM","model":"X-T5","name":"FUJIFILM,
        X-T5","exposure_time":"1/200","aperture":"2.8","focal_length":"18.0","iso":6400},"location":{"name":"Trikala,
        Greece","city":"Trikala","country":"Greece","position":{"latitude":39.555732,"longitude":21.767895}},"views":240228,"downloads":1936}]'
  recorded_at: Tue, 16 May 2023 23:25:08 GMT
recorded_with: VCR 6.1.0
