---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"a74f7e508f1ce189f9d1c2aec90bfdba"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"SyTnDaax6eE","slug":"SyTnDaax6eE","created_at":"2023-04-24T16:26:22Z","updated_at":"2023-05-25T11:34:18Z","promoted_at":"2023-04-27T13:45:37Z","width":4480,"height":6720,"color":"#0c2626","blur_hash":"LI56*PaeOXafs.fjWVayHXoMwIj[","description":null,"alt_description":"a
        person in a wet suit swimming in the water","urls":{"raw":"https://images.unsplash.com/photo-1682353213925-63ab4e0340df?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwNTN8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1682353213925-63ab4e0340df?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwNTN8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1682353213925-63ab4e0340df?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwNTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1682353213925-63ab4e0340df?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwNTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1682353213925-63ab4e0340df?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwNTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1682353213925-63ab4e0340df"},"links":{"self":"https://api.unsplash.com/photos/SyTnDaax6eE","html":"https://unsplash.com/photos/SyTnDaax6eE","download":"https://unsplash.com/photos/SyTnDaax6eE/download?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwNTN8","download_location":"https://api.unsplash.com/photos/SyTnDaax6eE/download?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODUwNDQwNTN8"},"likes":55,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"zpT2mYe1vZY","updated_at":"2023-05-18T06:44:02Z","username":"leviarnold","name":"Levi
        Arnold","first_name":"Levi","last_name":"Arnold","twitter_username":null,"portfolio_url":"http://openfiremedia.com","bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/leviarnold","html":"https://unsplash.com/@leviarnold","photos":"https://api.unsplash.com/users/leviarnold/photos","likes":"https://api.unsplash.com/users/leviarnold/likes","portfolio":"https://api.unsplash.com/users/leviarnold/portfolio","following":"https://api.unsplash.com/users/leviarnold/following","followers":"https://api.unsplash.com/users/leviarnold/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1682288783172-237700af9fa4image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1682288783172-237700af9fa4image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1682288783172-237700af9fa4image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"leviarnold.co","total_collections":0,"total_likes":0,"total_photos":93,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"leviarnold.co","portfolio_url":"http://openfiremedia.com","twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"
        EOS 5D Mark IV","name":"Canon, EOS 5D Mark IV","exposure_time":"1/160","aperture":"2.5","focal_length":"35.0","iso":125},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":465217,"downloads":3006}]'
  recorded_at: Thu, 25 May 2023 19:47:33 GMT
recorded_with: VCR 6.1.0
