---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"26c6fb6dfc3e0375d34a57273758c3cc"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"HOdES0M0BIs","slug":"HOdES0M0BIs","created_at":"2023-05-03T20:20:32Z","updated_at":"2023-05-19T09:37:19Z","promoted_at":"2023-05-08T10:02:07Z","width":6430,"height":7805,"color":"#f3f3d9","blur_hash":"LHP~_=tR?cMx_4xuxbof-mM_R*oc","description":"https://collections.tepapa.govt.nz/object/38083
        Untitled landscape, by Trevor Lloyd. Gift of the artist''s daughter, Miss
        Constance Lloyd, 1980. Te Papa (1980-0078-1)","alt_description":"a painting
        of a wooded area with trees","urls":{"raw":"https://images.unsplash.com/photo-1683143726325-ee14e56ab69c?ixid=M3w0NDgxNjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ1MjQ5NDZ8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1683143726325-ee14e56ab69c?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ1MjQ5NDZ8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1683143726325-ee14e56ab69c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ1MjQ5NDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1683143726325-ee14e56ab69c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ1MjQ5NDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1683143726325-ee14e56ab69c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ1MjQ5NDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1683143726325-ee14e56ab69c"},"links":{"self":"https://api.unsplash.com/photos/HOdES0M0BIs","html":"https://unsplash.com/photos/HOdES0M0BIs","download":"https://unsplash.com/photos/HOdES0M0BIs/download?ixid=M3w0NDgxNjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ1MjQ5NDZ8","download_location":"https://api.unsplash.com/photos/HOdES0M0BIs/download?ixid=M3w0NDgxNjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ1MjQ5NDZ8"},"likes":170,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"m6Q1Gzoicm8","updated_at":"2023-05-19T18:14:56Z","username":"tepapa","name":"Museum
        of New Zealand Te Papa Tongarewa","first_name":"Museum of New Zealand Te Papa
        Tongarewa","last_name":null,"twitter_username":"te_papa","portfolio_url":"https://www.tepapa.govt.nz/","bio":null,"location":"Wellington,
        New Zealand","links":{"self":"https://api.unsplash.com/users/tepapa","html":"https://unsplash.com/@tepapa","photos":"https://api.unsplash.com/users/tepapa/photos","likes":"https://api.unsplash.com/users/tepapa/likes","portfolio":"https://api.unsplash.com/users/tepapa/portfolio","following":"https://api.unsplash.com/users/tepapa/following","followers":"https://api.unsplash.com/users/tepapa/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"te_papa","total_collections":0,"total_likes":0,"total_photos":226,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"te_papa","portfolio_url":"https://www.tepapa.govt.nz/","twitter_username":"te_papa","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":871455,"downloads":4447}]'
  recorded_at: Fri, 19 May 2023 19:35:46 GMT
recorded_with: VCR 6.1.0
